<!DOCTYPE html>
<html>
    <head>
        <title>디스코드 봇 마켓</title>

        <meta charset="UTF-8">
        <meta name="description" content="Clean and responsive administration panel">
        <meta name="keywords" content="Admin,Panel,HTML,CSS,XML,JavaScript">
        <meta name="author" content="Erik Campobadal">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/uikit.min.css" />
		<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="/js/uikit.min.js" ></script>
		<script src="/js/uikit-icons.min.js" ></script>
    </head>
    <body>
        <input hidden type="number" id="bot_id" value="<%= bot_id %>" hidden>
        <input hidden type="number" id="guild_id" value="<%= guild_id %>" hidden>
        <div uk-sticky class="uk-navbar-container tm-navbar-container uk-active">
            <div class="uk-container uk-container-expand">
                <nav uk-navbar>
                    <div class="uk-navbar-left">
                        <a id="sidebar_toggle" class="uk-navbar-toggle" uk-navbar-toggle-icon ></a>
                        <a href="/main" class="uk-navbar-item uk-logo">
                            Bot Market
                        </a>
                    </div>
                    <div class="uk-navbar-right uk-light">
                        <a id="auth" class="uk-link-heading">로그아웃 &nbsp;</a>
                    </div>
                </nav>
            </div>
        </div>
        <div id="sidebar" class="tm-sidebar-left uk-background-default">
            <ul id="guildListElement" class="uk-nav uk-nav-default">
                <li class="uk-nav-header">
                    서버 목록
                </li>
            </ul>
        </div>
        <div class="content-padder content-background">
            <div class="uk-section-small uk-section-default header">
                <div class="uk-container uk-container-large">
                    <h1><span class="ion-speedometer"></span> <span id="bot_name"><%= bot_name %></span> (월 <span id="bot_price"><%= bot_price %></span>원)</h1>
                </div>
            </div>
            <div class="uk-section-small">
                <div class="uk-container uk-container-large">
                    <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
                        <a target="_blank" rel="noopener noreferrer" href="<%= invite_uri %>">봇 초대하기</a>
                    </div>
                    <br/>
                    <div id="form" class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
                        
                        <h3 id="guild_name" class="uk-card-title">서버명</h3>
                        <hr/>
                        <p>
                            사용 채널 ( *를 쓰면 모든 채널에서 사용할 수 있습니다.)
                            <br/>
                            <span id="channelList">
                            </span>
                        </p>
                        <button id="addChannel" class="uk-button uk-button-primary uk-button-small">추가</button>
                        <hr/>
                        <button id="save" class="uk-button uk-button-danger">저장</button>
                        
                    </div>
                </div>
            </div>
        </div>
		<!-- Load More Javascript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.min.js" integrity="sha256-rqEXy4JTnKZom8mLVQpvni3QHbynfjPmPxQVsPZgmJY=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
		<!-- Required Overall Script -->
        <script src="/js/script.js"></script>
		<!-- Status Updater -->
		<script src="/js/status.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.bootpay.co.kr/js/bootpay-3.3.1.min.js" type="application/javascript"></script>
        <script src="/js/bot/<%= bot_id %>.js"></script>
    </body>
</html>

